@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="homeHeader">DiscNanigans</h1>
    <p class="homeHeaderSlogan">Find.Your.Game</p>
    <img style="max-height: 30rem" class="img-fluid" src="https://cdn.buttercms.com/UaR6hXbxSGi4pXwiAWEN"/>

    <p class="addDiscContainer">
    <a class="addDiscButton" asp-controller="Disc" asp-action="Index">Shop Discs</a>
    </p>

</div>
