@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DiscNanigans</h1>
    <p>Find.Your.Game</p>
    <img style="max-height: 30rem" class="img-fluid" src="https://www.discgolfworldtour.com/wp-content/uploads/2016/05/DSC_9314-191.jpg"/>
</div>
